:root {
    // Color
    --color-txt: white;
    --color-hover-txt: #212b21;
    --color-accent: #b11e0b;
    --color-hover: #ecd928;

    // Shadow
    --box-shadow: 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25);
}